@model MOTViewModel

<input type="hidden" asp-for="MOTRecord.Id"/>
<input type="hidden" asp-for="VehicleId"/>

<div class="mt-3">
    <label asp-for="MOTRecord.Date" class="form-label"></label>
    <input asp-for="MOTRecord.Date" class="form-control"/>
    <span asp-validation-for="MOTRecord.Date" class="text-danger"></span>
</div>

<div class="mt-3">
    <label asp-for="MOTRecord.Outcome" class="form-label"></label>
    <select asp-for="MOTRecord.Outcome" class="form-control" 
        asp-items="Html.GetEnumSelectList<VehicleTestOutcome>()"))">
    </select>
    <span asp-validation-for="MOTRecord.Outcome" class="text-danger"></span>
</div>

<div class="mt-3">
    <label asp-for="MOTRecord.Mileage" class="form-label"></label>
    <input asp-for="MOTRecord.Mileage" class="form-control"/>
    <span asp-validation-for="MOTRecord.Mileage" class="text-danger"></span>
</div>

<div class="mt-3">
    <label asp-for="MOTRecord.Report" class="form-label"></label>
    <input asp-for="MOTRecord.Report" class="form-control"/>
    <span asp-validation-for="MOTRecord.Report" class="text-danger"></span>
</div>

<div class="mt-3">
    <label asp-for="MOTRecord.EngineerName" class="form-label"></label>      
    <input asp-for="MOTRecord.EngineerName" class="form-control"/>
    <span asp-validation-for="MOTRecord.EngineerName" class="text-danger"></span>
</div>