@model VehiclesListViewModel
<div class="card rounded shadow">
    <table class="table table-hover table-bordered">
        <thead class="thead">
            <tr>
                <th>Registration</th>
                <th>Make</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var v in Model.Vehicles)
            {
                <tr data-href="/vehicles/Details/@v.Id">
                    <td>@v.Registration</td>
                    <td>@v.Make</td>
                    <td>@v.Model</td>
                </tr>
            }
        </tbody>
    </table>
</div>