@model VehiclesListViewModel
<div class="card">
    <div class="card-body">
        <form asp-action="List">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Registration" class="form-label"></label>
                    <input asp-for="Registration" class="form-control"/>
                </div>
                <div class="col-4">
                    <label asp-for="Make" class="form-label"></label>
                    <input asp-for="Make" class="form-control"/>
                </div>
                <div class="col-4">
                    <label asp-for="Model" class="form-label"></label>
                    <input asp-for="Model" class="form-control"/>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-3 mt-3">
                    <input type="submit" value="Search" class="btn btn-primary float-right"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="card rounded shadow mt-3">
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead class="thead">
                    <tr>
                        <th>Registration</th>
                        <th>Make</th>
                        <th>Model</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var v in Model.Vehicles)
                    {
                        <tr data-href="/vehicles/Details/@v.Id">
                            <td>@v.Registration</td>
                            <td>@v.Make</td>
                            <td>@v.Model</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>