html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table tr {
    cursor: pointer;
}

table td i {
    margin-right: .5rem;
    color: #858796;
}

table td i:hover {
    cursor: pointer;
    color: cornflowerblue;
}